@import "normalize";
@import "vars";
//@import "woocommerce";
@import "swiper-bundle";
@import "default";

.header {
  background-color: #001317;
  padding: 12px 0 14px 0;
  position: relative;
  z-index: 2;

  &__container {
    display: flex;
  }

  &__navigate {
    flex: 1;
  }

  &__pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 99px;

    .peges-nav {
      .menu {
        display: flex;
        justify-content: space-between;

        .menu-item {
          margin: 0 8px;

          a {
            font-size: 12px;
            line-height: 125%;
            color: #FFFFFF;
            font-weight: 400;
          }
        }
      }
    }

    .icon-nav {
      display: flex;

      .menu {
        display: flex;

        li {
          margin-bottom: 0;
        }

        .logout-icon, .login-icon {
          display: flex;
          align-items: center;

          &:before {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            background-image: url("../../images/login-icon.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin-right: 5px;
          }

          a {
            font-size: 12px;
            line-height: 125%;
            color: #FFFFFF;
            font-weight: 400;
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__market {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 0 0 0 45px;
    margin-top: 12px;
    margin-bottom: -33px;
    justify-content: space-between;

    &:before {
      position: absolute;
      bottom: 0;
      right: 0;
      content: "";
      height: 0;
      width: calc(100% - 26px);
      border-bottom: 52px;
      border-left: 22px;
      border-color: transparent transparent #ff3a24 transparent;
      border-style: solid;
      z-index: 0;
      border-right: 0;
    }

    .market-nav {
      position: relative;

      .menu {
        display: flex;
        align-items: center;

        .menu-item {
          margin-right: 25px;
          margin-bottom: 0;

          &.akcii {
            display: flex;
            overflow: hidden;
            height: 100%;
            align-items: stretch;
            margin: 0 -12px;

            &:before {
              content: "";
              display: block;
              width: 18px;
              height: 100%;
              border-left: 22px solid transparent;
              border-bottom: 50px solid #C52318;
            }

            &:after {
              content: "";
              display: block;
              width: 18px;
              height: 100%;
              border-right: 22px solid transparent;
              border-top: 50px solid #C52318;
            }

            a {
              background-color: #C52318;
              display: flex;
              align-items: center;
              height: auto;
              padding: 0;

              &:before {
                content: "";
                display: block;
                width: 22px;
                height: 22px;
                background-image: url("../../images/akcii-icon-nav.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                margin-right: 11px;
              }
            }
          }

          &:last-child {
            margin-right: 0;
          }

          a {
            font-weight: 500;
            font-size: 14px;
            line-height: 121%;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 16px 0 18px 0;
          }
        }
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    a {
      font-weight: 700;
      font-size: 18px;
      line-height: 122%;
      color: #FFFFFF;
      display: flex;
      align-items: center;

      svg {
        width: 18px;
        height: 18px;
        margin-right: 13px;
      }
    }

    div {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #FF3A24;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__brending {
    padding-top: 9px;
    margin-right: -38px;

    .site-logo {
      width: 248px;
      height: auto;
    }
  }

  &__location {
    margin-top: 18px;
    display: flex;

    .location-desc {
      font-size: 14px;
      line-height: 121%;
      color: #808384;
      margin-right: 14px;
    }

    select {
      background-color: transparent;
      color: #FFFFFF;
      font-size: 14px;
      line-height: 121%;
      border: none;
    }

    option {
      font-size: 14px;
      line-height: 121%;
      color: #000000;
      text-decoration: underline;
    }
  }

  &__search {
    flex: 1;

    form {
      display: flex;
      align-items: center;
      position: relative;

      &:before {
        content: "";
        display: block;
        width: 18px;
        height: 0;
        border-left: 14px solid transparent;
        border-bottom: 30px solid #FFFFFF;
      }
    }

    label {
      display: flex;
      align-items: center;
      position: absolute;
      justify-content: center;
      right: 0;
      top: 0;
      height: 100%;
      width: 40px;
      cursor: pointer;

      input {
        display: none;
      }
    }

    input[type="text"] {
      border: none;
      height: 30px;
      font-weight: 500;
      font-size: 12px;
      line-height: 125%;
      display: flex;
      letter-spacing: 0.02em;
      background-color: white;
      margin-left: -14px;
      width: 100%;

      &::placeholder {
        font-weight: 500;
        font-size: 12px;
        line-height: 125%;
        display: flex;
        letter-spacing: 0.02em;
        color: #E5E7E8;
        font-style: italic;
      }
    }
  }

  &__woo {
    margin-left: 35px;
    position: relative;

    .fix_cart_btn {
      display: flex;
      align-items: center;

      .basket-btn__label {
        position: relative;
        display: block;
        margin: 0 17px 0 0;

        svg {
          width: 24px;
          height: auto;
        }
      }

      .fix_cart_total {
        margin-right: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 122%;
        letter-spacing: 0.03em;
        color: #FFFFFF;
      }

      .fix_cart_count {
        position: absolute;
        top: -2px;
        right: -5px;
        min-width: 18px;
        height: 13px;
        background-color: #FFFFFF;
        border-radius: 18px;
        font-size: 9px;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
      }
    }
  }
}

.main-slider {
  width: 100%;

  .swiper-button-next, .swiper-button-prev {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 19, 23, 0.3);
    top: calc(50% - 28px);
    transition: 0.3s;

    &:after {
      display: none;
    }

    &:hover {
      background-color: rgba(0, 19, 23, 0.8);
    }
  }

  .swiper-pagination {
    bottom: 33px;

    span {
      height: 4px;
      border-radius: 0;
      width: 100px;
      margin: 0 6px;

      &.swiper-pagination-bullet {
        background-color: rgba(255, 255, 255, 0.7);
      }

      &.swiper-pagination-bullet-active {
        background-color: #FF3A24;
      }
    }
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: 0;
  }

  &__container {

  }

  &__item {
    position: relative;
    height: calc(100vh - 71px);

    &-title {
      font-weight: 900;
      font-size: 64px;
      line-height: 121%;
      text-transform: uppercase;
      color: #FFFFFF;
      max-width: 50%;
    }

    &-desc {
      margin-top: 20px;

      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 122%;
        text-align: justify;
        color: #FFFFFF;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-lnk {
      margin-top: 43px;

      &:hover {
        &:before {
          animation-name: rotate;
          animation-duration: 2s;
          animation-iteration-count: infinite;
        }
      }
    }

    picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-x: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__content {
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    flex-direction: column;
    align-items: flex-start;
  }
}

.partners {
  margin-top: 45px;

  .swiper-pagination {
    margin-top: 25px;
    position: relative;

    .swiper-pagination-bullet {
      background-color: #E5E7E8;
      width: 10px;
      height: 10px;
      margin: 0 6px;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: #001317;
    }
  }
}

.promotions {
  margin-top: 64px;
  padding-bottom: 75px;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
  }

  &__container {
    padding-bottom: 35px;

    .swiper-pagination {
      bottom: 0;

      .swiper-pagination-bullet {
        background-color: #E5E7E8;
        width: 10px;
        height: 10px;
        margin: 0 6px;
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        background-color: #001317;
      }
    }
  }

  &__lnk {
    display: flex;
    align-items: center;

    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 122%;
      color: #000000;
      text-decoration: underline;
    }

    svg {
      margin-left: 9px;
      width: 24px;
      height: 24px;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    height: 264px;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: 0.3s;
    }

    &-title {
      font-weight: 800;
      font-size: 36px;
      line-height: 108%;
    }

    &-subtitle {
      font-weight: 600;
      font-size: 18px;
      line-height: 107.4%;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 32px 40% 32px 36px;
  }
}

.pluses {
  background-color: #F9F9F9;
  padding: 70px 0 57px 0;

  &__list {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    margin-right: -23px;
  }

  &__item {
    width: calc(20% - 23px);
    margin-right: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 33px;
  }

  &__content {
    font-size: 14px;
    line-height: 122%;
    text-align: center;
    color: #000000;
  }
}

.about {
  background-color: #F9F9F9;
  padding: 70px 0 74px 0;
}
.viewed{
  &__container{
      &.columns-5, &.columns-4{
        margin-right: -7px;
        li{
          &:last-child{
            margin-right: 0;
          }
        }
      }
  }
}
.bestsellers, .new, #main, .page-product-category, .viewed, .related{
  margin-top: 70px;
  margin-bottom: 70px;
  .swiper-wrapper{
    display: flex;
    align-items: stretch;
    .swiper-slide{
      height: auto;
    }
  }
  ul.products{
    display: flex;
    &.columns-5, &.columns-4{
      margin-right: -7px;
      width: calc(100% + 7px);
      li{
        width: calc(20% - 7px);
        margin-right: 7px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
    li{
      position: relative;
      padding: 32px 40px 13px 25px;
    }
  }
  .sidebar_container_before_loop{
    .sidebar_container_before_loop_cont{
      .products{
        display: block;
        width: calc(100% + 7px);
        li{
          width: calc(25% - 7px);
          margin-bottom: 20px;
          float: left;
        }
      }
    }

  }
  &__title {
    margin-bottom: 30px;
  }
  .swiper-pagination {
    bottom: 0;

    .swiper-pagination-bullet {
      background-color: #E5E7E8;
      width: 10px;
      height: 10px;
      margin: 0 6px;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: #001317;
    }
  }
  .woocommerce{
    padding-bottom: 35px;
    ul.products{
      &.columns-5{
        li{
          width: calc(20% - 7px);
        }
      }
      li{
        position: relative;
        padding: 32px 40px 13px 25px;
      }
    }
  }
  ul.products li, ul.products li{
    .pluses-icons-list{
      pointer-events: none;
      position: absolute;
      left: 10px;
      top: 52px;
      display: flex;
      flex-direction: column;
      svg{
        margin-bottom: 10px;
      }
    }
    .winter-icon{
      pointer-events: none;
      position: absolute;
      top: 52px;
      right: 10px;
    }
    .exists{
      .yith-wcwl-add-button{
        a{
          color: transparent;
          width: 20px;
          height: 20px;
          overflow: hidden;
          display: block;
          i{
            display: inline-flex;
            &:before{
              background-image: url("../../images/star-wish-added.svg");
            }
          }
        }
      }
    }
    .yith-wcwl-add-to-wishlist{
      margin: 0;
    }
    .yith-wcwl-add-button{
      position: absolute;
      top: 12px;
      right: 12px;
      i{
        margin-right: 0;
        display: inline-flex;
        &:before{
          content: "";
          width: 20px;
          height: 20px;
          background-image: url("../../images/star-wish.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
      span{
        display: none;
      }
    }
    .new-marker, .hit-marker{
      position: absolute;
      left: 0;
      top: 12px;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #FFFFFF;
      padding: 7px 19px 8px 10px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .new-marker{
      background-image: url("../../images/new-marker.svg");
    }
    .hit-marker{
      background-image: url("../../images/hit-marker.svg");
    }
    .button{
      background-color: transparent;
      padding: 0;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .woosticker{
      position: absolute;
      left: 0;
      top: 12px;
    }
  }
  ul.products{
    padding-top: 20px;
    li.product{
      margin-bottom: 0;
      position: relative;
      padding: 32px 40px 13px 25px;
      &:before{
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: 0;
        width: calc(100% - 2px);
        height: 100%;
        border: 1px solid #E5E7E8;
        pointer-events: none;
      }
      &:hover{
        padding-bottom: 3px;
        &:before{
          height: calc(100% + 20px);
          margin-top: -10px;
          box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.08);
        }
        .yith-wcwl-add-button{
          top: 2px;
        }
        .button{
          bottom: -10px;
          //svg.rec{
          //  rect{
          //    fill: #FF3A24;
          //  }
          //}
        }
        .new-marker, .hit-marker{
          top: 2px;
        }
        .woosticker{
          top: 2px;
        }
        .pluses-icons-list, .winter-icon{
          top: 42px;
        }
        .ostatok{
          margin-top: 29px;
        }
      }
      .woocommerce-loop-product__title{
        font-weight: 500;
        font-size: 14px;
        line-height: 122%;
        color: #000000;
        margin-top: 10px;
        padding: 0;
      }
      a{
        display: flex;
        flex-direction: column;
        img {
          width: 114px;
          height: auto;
          margin: auto;
        }
        .price{
          font-weight: 700;
          font-size: 24px;
          line-height: 120%;
          color: #001317;
          margin-top: 20px;
          margin-bottom: 0;
        }
        .options-item{
          font-size: 14px;
          line-height: 122%;
          color: #808384;
          font-weight: 400;
          margin-top: 5px;
        }
        .ostatok{
          font-weight: 400;
          font-size: 12px;
          line-height: 125%;
          color: #000000;
          display: flex;
          align-items: center;
          margin-top: 19px;
          span{
            display: block;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            margin-right: 9px;
          }
        }
      }
    }
  }
}
.page-product-category{
  margin-top: 33px;
  .woocommerce-breadcrumb{
    margin-bottom: 36px;
    color: #808384;
    font-size: 14px;
    line-height: 122%;
    font-weight: 400;
    a{
      text-decoration-line: underline;
      color: black;
    }
  }
  .sidebar_container_before_loop{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    .sidebar_container_before_loop_cont{
      width: calc(100% - 246px);
    }
    .widget-area{
      width: 228px;
    }
  }
  ul.products{
    margin-right: -7px;
    display: flex;
    li.product{
      width: calc(25% - 7px);
      margin-right: 7px;
      height: auto;
    }
  }
}
.about{
  &__container{

  }
  &__content{
    p{
      font-size: 18px;
      line-height: 122%;
      color: #000000;
      font-weight: 400;
      margin-bottom: 1em;
      strong{
        font-weight: bold;
      }
    }
    ul, ol{
      margin-bottom: 20px;
      li{
        font-size: 18px;
        line-height: 166%;
        font-weight: 400;
        &:before{
          content: "";
          display: block;
          background-image: url("../../images/text-list-marker.svg");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          width: 7px;
          height: 18px;
          padding-top: 8px;
          float: left;
          margin-right: 15px;
        }
      }
    }
  }
}
.mailing{
  background-color: #26383B;
  padding: 25px 0 21px 0;
  &__container{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    width: calc(50% - 70px);
  }
  &__title{
    font-weight: 800;
    font-size: 36px;
    line-height: 122%;
    color: #FFFFFF;
    text-align: justify;
  }
  &__subtitle{
    margin-top: 9px;
    font-size: 14px;
    line-height: 122%;
    color: #FFFFFF;
    font-weight: 400;
    width: 100%;
    text-align: justify;
  }
  &__form{
    width: 50%;
    .tnp-field-email{
      position: relative;
      input{
        font-size: 14px;
        line-height: 122%;
        padding: 11px 16px;
      }
      label{
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        left: 16px;
        pointer-events: none;
        font-size: 14px;
        line-height: 122%;
        color: #E5E7E8;
      }
    }
  }
}
.woocommerce ul.products.columns-5 li.product, .woocommerce-page ul.products.columns-5 li.product, .woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
  width: calc(20% - 7px);
}
.related{
  clear: both;
}
.related__container{
  width: 100%;

  .swiper-pagination{
    position: static;
    margin-top: 35px;
  }
}
.woof_price_search_container .price_slider_amount .price_label{
  display: none!important;
}
.woocommerce ul.products li.product .star-rating{
  display: none;
}

.woocommerce{
  .widget_price_filter{
    padding-bottom: 0;
    .price_slider_amount{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
        &:after{
          position: absolute;
          top: 50%;
          left: calc(50% - 20px);
          display: block;
          content:"";
          height: 1px;
          width: 10px;
          margin: 0 13px;
          background: #000;
        }
      input{
        display: flex!important;
        border: 1px solid #E5E7E8;
        font-size: 14px;
        line-height: 100%;
        color: #808384;
        padding: 12px 16px;
        width: calc(50% - 20px);
        &:first-child{
          margin-right: 40px;
        }
      }
    }
    .ui-slider-horizontal{
      height: 10px;
    }
    .price_slider_wrapper{
      display: flex;
      flex-direction: column-reverse;
      .ui-widget-content{
        margin-top: 33px;
        background-color: #E5E7E8;
      }
    }
    .ui-slider{
      .ui-slider-handle{
        background-color: #001317;
        border-radius: 0;
        position: relative;
        width: 18px;
        height: 18px;
        display: block;
        top: -5px;
        &:last-child{
          top: -23px;
        }
        &:after{
          position: absolute;
          content: "";
          width: 6px;
          height: 6px;
          top: 5px;
          left: 5px;
          display: block;
          z-index: 3;
          background-color: #808384;
        }
      }
      .ui-slider-range{
        background-color: #FF3A24;
      }
    }
  }
}
.widget-woof{
  .widget-title{
    padding: 13px 0 0 0;
  }
  .widget-title, h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 122%;
    color: #000000;
    margin-bottom: 20px;
  }
}
.category-header-custom{
  background-color: #E5E7E8;
  padding: 9px 13px 9px 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .woocommerce-result-count, .woocommerce-ordering{
    float: none;
    clear: both;
    margin-bottom: 0;
  }
}
.woocommerce{
  .woof_redraw_zone{
    input[name="woof_section_tabs"]:checked + label.woof_section_tab_label span{
      transform: rotate(90deg);
    }
    .woof_list label{
      .woof_checkbox_count{
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        color: #808384;
      }
    }
    .woof_list li{
      margin-left: 0!important;
    }
    .woof_section_tab{
      padding-left: 0;
    }
    label.woof_section_tab_label{
      font-weight: 600!important;
      font-size: 18px;
      line-height: 122%;
      color: #000000;
      margin-bottom: 10px;
      border: none;
      padding-top: 25px;
      border-top: 1px solid #E5E7E8;
      padding-left: 0;
      span{
        color: transparent;
        background-image: url("../../images/acardeon.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 16px;
        height: 100%;
      }
    }
    .woof_submit_search_form_container{
      .woof_submit_search_form{
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: #FFFFFF;
        background-color: #FF3A24;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 14px 5px;
        transition: 0.2s;
        &:hover{
          background-color: #000000;
        }
      }
    }
  }
}
#yith-wacp-mini-cart{
  left: auto!important;
  top: auto!important;
  display: block;
  zoom: 1;
  bottom: 0!important;
  right: 0!important;
}
.woocommerce{
  div.product{
    div.summary{
      display: flex;
      flex-wrap: wrap;
    }
    form.cart{
      margin-top: 50px;
      width: 100%;
      .quantity__row{
        padding-left: 0;
        margin-bottom: 30px;
        .quantity{
          margin-right: 37px;
        }
        button{
          background-color: #001317;
          font-weight: 500;
          font-size: 18px;
          line-height: 122%;
          color: #FFFFFF;
          border: none;
          border-radius: 0;
          display: flex;
          padding: 0 60px 0 0;
          align-items: center;
          justify-content: space-between;
          &:before{
            background-color: #FF3A24;
            content: "";
            display: block;
            height: 100%;
            width: 50px;
            background-image: url("../../images/add-to-cart.svg");
            background-size: 60%;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 60px;
          }
        }
      }
    }
    p.stock{
      margin-bottom: 6px;
      display: flex;
      align-items: flex-end;
      font-size: 18px;
      line-height: 122%;
      color: #000000;
      font-weight: 400;
      &:before{
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #27AE60;
        margin-right: 12px;
        margin-bottom: 8px;
      }
      &.out-of-stock{
        &:before{
          background-color: #FF3A24;
        }
      }
    }
    p.price{
      font-weight: 700;
      font-size: 36px;
      line-height: 122%;
      color: #001317;
      margin-right: 35px;
      margin-bottom: 0;
    }
    .woocommerce-product-rating{
      margin-bottom: 30px;
      margin-top: 30px;
      display: flex;
      align-items: center;
      width: 100%;
      .woocommerce-review-link{
        font-size: 14px;
        line-height: 122%;
        text-decoration-line: underline;
        color: #808384;
        margin-left: 10px;
      }
      .star-rating{
        margin-top: 0;
        font-size: 18px;
        &:before{
          content: "\53\53\53\53\53";
          color: #F5F5F5;
        }
        span{
          color: #F9B233;

        }
      }
    }
    .product_title{
      font-weight: 800;
      font-size: 36px;
      line-height: 122%;
      color: #001317;
      width: 100%;
    }
    .sku_wrapper{
      width: 100%;
      font-weight: normal;
      font-size: 18px;
      line-height: 122%;
      color: #808384;
      margin-top: 20px;
      display: block;
    }
    div.images{
      img{
        max-height: 626px;
        width: auto;
        margin: auto;
      }
    }
  }
}
